.footer-app {
  padding: 0 2rem 2.5rem;

  text-align: center;

  color: white;
}

.made-by {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--c-text);
}

.developer {
  color: var(--c-text);

  transition: opacity 0.2s ease;
}

.developer:hover {
  opacity: 0.7;
}
