<h2>Files</h2>
<section class="files">
  <div class="file-heading">
    <p>File Name</p>
    <p>File Size</p>
    <p>Uploaded At</p>
  </div>
  <% files.forEach((file) => { %>
      <% const formattedDate = new Date(file.createdAt).toLocaleString('en-US', {
          month: 'short',
          day: 'numeric',
          year: 'numeric',
          hour: 'numeric',
          minute: '2-digit',
          hour12: true
      }); %>
      <% let formattedSize = null %>
      <% if (file.size <= 999999) { %> 
          <% formattedSize = ((file.size / 1000).toFixed(2)) + ' KB' %>
      <% } else { %> 
          <% formattedSize = ((file.size / 1000000).toFixed(2)) + ' MB' %>
      <% } %> 
      <div class="file">
        <p><%= file.name %></p>
        <p><%= formattedSize %></p>
        <p><%= formattedDate %></p>
        <form action="/files/download/<%= file.id %>" method="POST">
          <button type="submit">Download</button>
        </form>
      </div>
  <% }) %>
</section>
