<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Platform</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <main>
      <%- include('../description', { heading: 'Create a New Platform', description: 'Type your new platform in the input field below, and click on submit when finished!'}) %>
      <form action="/platforms/create" method="POST">
        <label for="createPlatform">Platform Name</label>
        <input type="text" id="createPlatform" name="createPlatform" placeholder="e.g. Nintendo Switch 2" required>
        <%- include("../partials/errors.ejs") %>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../footer') %>
  </body>
</html>
