<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <main>
      <%- include('../description', { heading: 'Delete a Platform', description: 'Choose an existing platform from the dropdown and click on submit when finished!'}) %>
      <form>
        <label for="delete-platform-choose">Choose a Platform</label>
        <select name="delete-platform-choose" id="delete-platform-choose">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../footer') %>
  </body>
</html>
