#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerError {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.headingError {
  font-size: 3rem;
}
