@font-face {
  font-family: 'Atkinson Hyperlegible Next Regular';
  src: url('../assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Atkinson Hyperlegible Next Regular', sans-serif;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

body {
  overscroll-behavior-y: none;
}

html {
  /* keeps the scrollbar on the side, so it prevents the ui from  */
  /* shifting slightly when navigating pages (Chromium browsers) */
  overflow-y: scroll;
}
