@font-face {
  font-family: 'Wotfard';
  src: url('../assets/fonts/wotfard-regular-webfont.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Wotfard', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
