.headerApp {
  position: sticky;
  top: 0;

  background: white;
  border-bottom: 1px solid #dadada;
}

.wrapper {
  padding: 1.5rem 2rem;

  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper > a {
  color: black;
  text-decoration: none;
}

.containerNavLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.containerNavLinks > a {
  padding: 0.5rem 1rem;

  color: black;
  text-decoration: none;
  border-radius: 12px;

  transition: background 0.3s ease;
}

.containerNavLinks > a:last-child {
  padding: 0;
}

.containerNavLinks > a:hover {
  background: #efefef;
}

.containerNavLinks > a:last-child:hover {
  background: none;
}

.containerCart {
  position: relative;
}

.iconCart {
  width: 28px;
  height: 28px;
}

.containerCartQuantity {
  min-width: 22px;
  position: absolute;
  top: -8px;
  right: -8px;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .containerNavLinks > a:first-child {
    display: none;
  }
}
