.game {
  position: static;
}

.imgPokemon {
  width: 100%;
  cursor: pointer;
}

.redBox {
  width: 40px;
  aspect-ratio: 1 / 1;
  position: absolute;

  border: 4px solid transparent;
}

.featuresContainer {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.imgsPokemon {
  display: flex;
  gap: 1rem;
}

.imgsPokemon > img {
  border-radius: 50%;
}

.time {
  color: var(--gray);
}
