.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  margin: auto;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg);
  min-height: 150px;
  max-width: 320px;
  border: 2px solid var(--bg-alt);
  border-radius: 12px;
  box-shadow: 2px solid var(--bg-alt);
}
