<% platforms.forEach(platform => { %>
  <option value="<%= platform.name %>" 
    <%= (typeof selectedPlatform !== 'undefined' && platform.name === selectedPlatform) ? 'selected' : '' %>>
    <%= platform.name %>
  </option>
<% }); %>
