@font-face {
  font-family: 'Atkinson Hyperlegible Next Regular';
  src: url('../src/assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--bg-alt);
  border: solid 8px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--accent);
  border: solid 8px transparent;
  border-radius: 20px;
}

:root {
  --bg: #121212;
  --bg-alt: #1e1e1e;
  --fg: #faf9f6;
  --accent: #c6fbbb;
  --gray: #979797;
  --gray-alt: #797979;
  --dark-gray: #303030;
  --light-gray: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Atkinson Hyperlegible Next Regular';
  font-display: swap;
}

body {
  background: var(--bg);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

button {
  cursor: pointer;
}

main {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 800px;
  position: relative;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  gap: 1.25rem;
}

form {
  margin: 1rem 0 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > label {
  color: var(--gray);
}

form > input,
form > select,
form > textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  background: var(--bg-alt);
  color: var(--fg);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

form > select {
  border-right: 12px solid transparent; /* add padding to the right of arrow */
  cursor: pointer;
}

form > textarea {
  padding: 1rem 1rem;
}

form > button {
  padding: 0.5em 1em;
  margin-top: 1rem;
  align-self: flex-start;

  background: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 16px;
  font-size: 1rem;

  transition: opacity 0.3s ease;
}

form > button:hover {
  opacity: 0.75;
}

form > .description {
  margin: 0 0 1.5rem;
  color: var(--gray);
}

form > .switch {
  margin-top: -1rem;
  color: var(--gray);
}

form > .switch > a {
  color: var(--accent);
  transition: opacity 0.3s ease;
}

form > .switch > a:hover {
  opacity: 0.7;
}

input[type='password'] {
  padding: 0 1rem;
  height: 40px;

  font-family: 'Verdana'; /* setting the font to Verdana makes password circles consistent for Chrome and Firefox */
  font-size: 1rem;
}

.error-message {
  margin: -1rem 0 2rem;
  color: #ff7f7f;
  font-size: 0.875rem;
}
