<section class="description">
  <h1>Games Inventory</h1>
  <p>You can create, read, update, and delete a platform (like adding NDS or Xbox 360). Likewise, you can create, read, update, and delete a game (like adding Pokemon Black under the NDS platform).</p>
</section>
