<section class="platforms-crud">
  <a href="/platforms/create" class="btn-create-platform">Create Platform</a>
  <a href="/platforms/update" class="btn-update-platform">Update Platform</a>
  <a href="/platforms/delete" class="btn-delete-platform">Delete Platform</a>
</section>
