.mainContainer {
  padding-right: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0;
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
  }
}
