.mainContainer {
  padding-right: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0;
}

.posts {
  height: 100svh;
  overflow-y: auto;
  border-right: 1px solid var(--dark-gray);
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
  }
}
