.mainContainer {
  padding-right: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0;
}

.postPage {
  padding: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  align-content: start;
  border-right: 1px solid var(--dark-gray);
  overflow-y: auto;
}

.createComment {
  margin: 0;
  padding: 1.5rem;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid var(--dark-gray);
}

.createComment > input {
  margin: 0;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 16px;
  font-size: 0.875rem;
}

.createComment > button {
  margin: 0;
  padding: 0.5em 1.5em;
  height: 100%;
  font-size: 0.875rem;
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
  }
}
