.posts {
  padding: 0;
  height: 100%;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  align-content: start;
  border-right: 1px solid var(--dark-gray);
  overflow-y: auto;
}

.post {
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 1rem;
  border-bottom: 1px solid var(--dark-gray);
  text-decoration: none;
  color: var(--fg);
  cursor: pointer;
  transition: background 0.3s ease;
}

.post:hover {
  background: var(--bg-alt);
}

.postDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userProfilePicture {
  width: 44px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.post .top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 0.5rem;
}

.fullname {
  font-weight: bold;
}

.username,
.datePosted {
  color: var(--gray);
}

.separator {
  width: 3px;
  height: 3px;
  background: var(--gray);
  border-radius: 50%;
}

.postInteractions {
  margin-top: 0.25rem;
  display: flex;
  gap: 4rem;
}

.postInteractions svg {
  width: 20px;
  aspect-ratio: 1 / 1;
}

.comments,
.likes {
  display: flex;
  gap: 0.25rem;
  color: var(--gray);
  cursor: pointer;
  background: transparent;
  border: none;
}
