<h1>Log In</h1>
<form action="/log-in" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" required/>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" required/>
  <p class="no-account">Don't have an account? <a href="/sign-up">Sign up</a></p>
  <button type="submit">Log In</button>
</form> 
