<h1>Log In</h1>
<form action="/log-in" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" value="<%- locals.formData ? formData.username : '' %>" required/>
  <label for="password">Password</label>
  <input style="margin-bottom: 0;" id="password" name="password" type="password" required/>
  <%- include('./partials/errors') %>
  <p class="no-account" style="margin-top: 1rem;">Don't have an account? <a href="/sign-up">Sign up</a></p>
  <button type="submit">Log In</button>
</form> 
