<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
  <title>Membership</title>
</head>
<body>
  <%- include('navbar') %>
  <main>
    <% if (user.membership_status === true) {%>
      <h1>You already have a membership!</h1>
      <a href="/" style="color: var(--accent); margin-top: -1rem;">Go back</a>
    <% } else { %>
      <h1>Get a Membership</h1>
      <form action="/membership/<%= user.id %>" method="POST">
        <label for="membership">Secret Code</label>
        <input type="text" id="membership" name="membership" placeholder="Type in the secret code!" required>
        <%- include('./partials/errors') %>
        <button type="submit">Submit</button>
      </form>
    <%}%>
  </main>
  <%- include('footer') %>
</body>
</html>
