<header class="header-app">
  <nav>
    <a href="/">
      <img
        src="/images/logo_optimized.webp"
        alt="Arvin Garcia logo"
      >
    </a>
    <div>
      <% if (locals.user) {%>
        <a href="/membership">Membership</a>
        <a href="/log-out">Log out</a>
      <%}%>
    </div>
  </nav>
</header>
