.blogs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog {
  padding: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--bg-alt);
  color: var(--fg);
  border-radius: 12px;
  text-decoration: none;

  cursor: pointer;
  transition: opacity 0.3s ease;
}

.blog:hover {
  opacity: 0.6;
}

.date {
  color: var(--gray);
}
