@font-face {
  font-family: 'Atkinson Hyperlegible Next Regular';
  src: url('../src/assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--bg-alt);
  border: solid 8px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--accent);
  border: solid 8px transparent;
  border-radius: 20px;
}

:root {
  --bg: #121212;
  --bg-alt: #1e1e1e;
  --fg: #faf9f6;
  --accent: #c6fbbb;
  --gray: #979797;
  --gray-alt: #797979;
  --dark-gray: #303030;
  --light-gray: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Atkinson Hyperlegible Next Regular';
  font-display: swap;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

button {
  cursor: pointer;
}

main {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 800px;
  position: relative;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  gap: 1.25rem;
}
