@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Geist:wght@100..900&display=swap");

/* == CSS RESET (Josh Comeau) == */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* == ROOT AND BODY == */

* {
  font-family: "Geist", sans-serif;
}

:root {
  --c-darkest: #23242a;
  --c-dark: #323741;
  --c-slightly-dark: #2a2d35;
  --c-purple: #7f7cff;
  --c-gray: #5a5d68;
  --c-light-gray: #8f94a5;
  --c-lightest-gray: #bababc;
  scrollbar-color: var(--c-gray) transparent;
  scrollbar-width: thin;
}

::selection {
  background: var(--c-purple);
  color: var(--c-darkest);
}

body {
  background: var(--c-darkest);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

p,
address,
li {
  font-size: 0.875rem;
}

ul {
  padding-left: 20px;
}

.wrapper {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
}

h1,
section h1,
article h1,
aside h1,
nav h1 {
  font-size: 1.75rem;
  line-height: 2rem;
}

:where(h1) {
  font-size: 1.75rem;
  line-height: 2rem;
}
