<form method="POST" action="/new">
  <h1>add a msg</h1>
  <input type='text' name='messageUser' placeholder='name here'/>
  <textarea name='messageText'></textarea>
  <button type='submit'>submit</button>
</form>
