@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

:root {
  --c-very-dark-blue: #17203f;
  --c-dark-blue: #1c2754;
  --c-blue: #6882e2;
  --c-orange: #e3a134;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--c-very-dark-blue);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1600px;
}

/* -- NAVBAR -- */

header {
  padding: 1rem 0;
  background: var(--c-dark-blue);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h1 {
  font-size: 2rem;
}

nav > h1 > span:nth-of-type(odd) {
  color: var(--c-orange);
}

nav > h1 > span:nth-of-type(even) {
  color: var(--c-blue);
}

nav > ul {
  display: flex;
  gap: 3rem;
}

nav > ul > li > a:hover {
  text-decoration: underline;
  color: var(--c-orange);
}

/* -- MAIN -- */

main.wrapper {
  padding: 1.5rem 1rem;
  flex: 1;
}

.inputs-container {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.inputs-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.inputs-container > div > input {
  padding: 0.5em 1em;
  background: var(--c-dark-blue);
  color: white;
  border: none;
  border-radius: 8px;
}

.inputs-container > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs-container > div > div > p {
  padding: 0.1em 0.5em;
  border-radius: 50%;
  width: 19px;
}

.player-one-indicator {
  background: var(--c-orange);
  height: 100%;
}

.player-two-indicator {
  background: var(--c-blue);
  height: 100%;
}

.btn-and-turn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.btn-start-game {
  padding: 0.5em 1em;
  background: var(--c-orange);
  color: var(--c-dark-blue);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.btn-start-game:hover {
  opacity: 0.8;
}

.turn {
  max-width: 400px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.board-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 1rem;
}

.square {
  background: var(--c-dark-blue);
  color: white;
  border: none;
  border-radius: 16px;
  font-family: "Fredoka", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  transition: opacity 0.3s ease;
}

.square:hover {
  opacity: 0.4;
}

/* -- FOOTER -- */

footer.wrapper {
  padding: 1rem;
}

footer > a:hover {
  text-decoration: underline;
  color: var(--c-orange);
}
