@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

:root {
  --c-very-dark-blue: #121d3b;
  --c-dark-blue: #1f2b47;
  --c-blue: #82b4f1;
}

body {
  min-height: 100vh;
  background: var(--c-very-dark-blue);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 72px 1fr 60px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icon-github-link {
  transition: opacity 0.3s ease;
}

.icon-github-link:hover {
  opacity: 0.6;
}

.icon-github {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: white;
}

button {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

h1,
h2 {
  font-family: "Andada Pro", serif;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

button:hover {
  opacity: 0.7;
}

/* -- HEADER -- */

header {
  grid-area: header;
}

nav {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > form {
  display: flex;
  gap: 1rem;
}

nav > form > input {
  padding: 0 0.75em;
  border-radius: 8px;
  border: 1px solid var(--c-dark-blue);
  background: var(--c-dark-blue);
  color: white;
}

nav > form > button,
nav > .right > button.active {
  background: var(--c-dark-blue);
  color: white;
  font-size: 0.8rem;
}

nav > .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav button {
  padding: 0.4em 1em;
  font-size: 0.875rem;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}

nav > .right button {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* -- ASIDE -- */

aside {
  padding: 1.5rem;
  grid-area: aside;
  border-radius: 0 20px 20px 0;
  background: var(--c-dark-blue);
  color: white;
}

aside > h1 {
  margin-bottom: 1rem;
}

aside .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside .container p {
  font-size: 0.875rem;
}

aside .top,
aside .bottom {
  display: flex;
  flex-direction: column;
}

aside .bottom {
  gap: 0.5rem;
}

aside .today-img {
  width: 250px;
  height: 250px;
}

aside .location {
  font-family: "Andada Pro", serif;
  text-transform: capitalize;
}

aside > .container > .top > p.today-temp {
  font-size: 3.25rem;
  color: var(--c-blue);
}

.date-and-time-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* -- MAIN -- */

main {
  padding: 1.25rem;
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main h2 {
  color: white;
}

main > div.bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.days-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.day-container {
  padding: 1.25rem;
  background: var(--c-dark-blue);
  color: white;
  border-radius: 20px;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.day-temp {
  color: var(--c-blue);
}

.highlights-container {
  flex: 1;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.highlight-container {
  padding: 1.25rem;
  background: var(--c-dark-blue);
  color: white;
  border-radius: 20px;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.highlight-title {
  padding-left: 2px;
  font-size: 1.25rem;
  font-weight: 400;
}

.highlight-value {
  font-size: 3rem;
  color: var(--c-blue);
}

/* -- FOOTER -- */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  font-size: 0.875rem;
  color: white;
}

footer > p > a {
  color: white;
  text-decoration: none;
}

footer > p > a:hover {
  text-decoration: underline;
  color: var(--c-blue);
}
